In [1]:
d = {'key1': 'value', 'key2': 123}

In [2]:
d[0]

KeyError: 0

In [3]:
d['key1']

'value'

In [4]:
d['key2']

123

In [5]:
d = {'k1': [1,2,3]}

In [6]:
d

{'k1': [1, 2, 3]}

In [9]:
my_list = d['k1']

In [10]:
my_list[0]

1

In [11]:
d['k1'][0]

1

In [12]:
d = {'k1': {'innerkey': [1,2,3]}}

In [15]:
d['k1']['innerkey'][1]

2

In [16]:
True

True

In [17]:
False

False

In [18]:
my_list = [1,2,3]

In [19]:
my_list[0]

1

In [20]:
t = (1,2,3)

In [21]:
t[0]

1

In [22]:
my_list

[1, 2, 3]

In [23]:
my_list[0] = 'NEW'

In [24]:
my_list

['NEW', 2, 3]

In [25]:
t

(1, 2, 3)

In [26]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

In [27]:
{1,2,3}

{1, 2, 3}

In [28]:
{1,1,1,2,2,2,3,3,3}

{1, 2, 3}

In [29]:
set([1,1,1,1,2,2,2,5,5,5,6,6,6])

{1, 2, 5, 6}

In [30]:
s = {1,2,3}

In [31]:
s.add(5)

In [32]:
s

{1, 2, 3, 5}

In [33]:
s.add(5)

In [34]:
s

{1, 2, 3, 5}

In [35]:
1 > 2

False

In [36]:
1 < 2

True

In [37]:
1 >= 2

False

In [38]:
1 <= 1

True

In [39]:
1 == 1

True

In [40]:
1 == 2

False

In [42]:
1 != 3

True

In [43]:
'hi' == 'by'

False

In [44]:
'hi' != 'by'

True

In [46]:
1 < 2 and 2 < 3

True

In [47]:
(1 < 2) and (2 < 3)

True

In [48]:
(1 < 2) or (2 > 3)

True

In [49]:
True and True

True

In [50]:
True and False

False

In [51]:
True or True

True

In [52]:
True or False

True

In [53]:
False or True

True

In [56]:
if 1 < 2:
    print('Yep!')

Yep!

In [57]:
if True:
    x = 2 + 2

In [58]:
x

4

In [61]:
if 1 == 2:
    print('First')
elif 4==4:
    print('second')
elif 3 == 3:
    print('Middle')
else:
    print('last')

second