In [102]:
import numpy as np
import pandas as pd

In [103]:
# Index Levels
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [104]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [105]:
inside

[1, 2, 3, 1, 2, 3]

In [106]:
list(zip(outside,inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [107]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [108]:
df = pd.DataFrame(np.random.randn(6,2),hier_index,['A','B'])

In [109]:
df

             A         B
G1 1  0.107802 -0.519067
   2  0.839271 -0.170350
   3  0.987810 -0.351152
G2 1 -0.387187 -0.114339
   2  0.678577 -0.464353
   3  1.121678  0.228225

In [112]:
df.loc['G1']

          A         B
1  0.107802 -0.519067
2  0.839271 -0.170350
3  0.987810 -0.351152

In [113]:
df.loc['G1'].loc[1]

A    0.107802
B   -0.519067
Name: 1, dtype: float64

In [114]:
df.index.names

FrozenList([None, None])

In [115]:
df.index.names = ['Groups', 'Num']

In [116]:
df

                   A         B
Groups Num
G1     1    0.107802 -0.519067
       2    0.839271 -0.170350
       3    0.987810 -0.351152
G2     1   -0.387187 -0.114339
       2    0.678577 -0.464353
       3    1.121678  0.228225

In [119]:
df.loc['G2'].loc[2]['B']

-0.4643531835286917

In [120]:
df.loc['G1']

            A         B
Num
1    0.107802 -0.519067
2    0.839271 -0.170350
3    0.987810 -0.351152

In [121]:
df.xs('G1')

            A         B
Num
1    0.107802 -0.519067
2    0.839271 -0.170350
3    0.987810 -0.351152

In [122]:
df

                   A         B
Groups Num
G1     1    0.107802 -0.519067
       2    0.839271 -0.170350
       3    0.987810 -0.351152
G2     1   -0.387187 -0.114339
       2    0.678577 -0.464353
       3    1.121678  0.228225

In [123]:
df.xs(1,level='Num')

               A         B
Groups
G1      0.107802 -0.519067
G2     -0.387187 -0.114339